@media (min-width:1200px) and (max-width:1400px) {

  /* firs section */
  .main_description {
    padding: 150px 0 0 0px;
  }
}

/* Laptop */
@media (min-width:992px) and (max-width:1199px) {

  /* firs section */
  .main_description {
    padding: 150px 0 0 0px;
  }

  #pading_id {
    padding: 40px 0px;
  }
}


/* tablet */
@media (min-width:768px) and (max-width:991px) {

  /* firs section */
  .main_description {
    padding: 150px 0 0 0px;
  }

  #pading_id {
    padding: 28px 0px;
  }

  .navbar-nav {
    padding: 10px 0;
  }
}

/* mobile */
@media (min-width:576px) and (max-width:767px) {

  /* firs section */
  .main-section {
    height: 900px;
  }

  .main_description {
    padding: 35px 0 0 100px;
  }

  .description h1 {
    font-size: 48px;
    line-height: 55px;
  }

  #pading_id {
    padding: 0px 0px;
  }
}

@media (min-width:320px) and (max-width:576px) {
  .main-section {
    height: 920px;
  }
  .main_description {
    padding: 39px 0 0 0px;
  }

  #pading_id {
    padding: 0px 0px;
  }

  .description h1 {
    font-size: 30px;
    line-height: 37px;
  }
  .description p {
    font-size: 18px;
}

  .description {
    padding: 42px 7px;
  }

}