/* About Page */
@media (min-width:1200px) and (max-width:1440px) {

    /* third */
    .content h2 {
        font-size: 37px;
        font-weight: 600 !important;
    }

}

@media (min-width:992px) and (max-width:1199px) {
    .welcome {
        padding: 33px 20px 5px 20px;
    }

    #writers p {
        font-size: 16px;
    }

}

@media (min-width:768px) and (max-width:991px) {

    /* first */
    #AboutUs {
        height: 379px;
    }

    /* second */
    .welcome {
        padding: 33px 20px 5px 20px;
    }

    #writers p {
        font-size: 14px;
    }

    /* third */
    .danger-blog h2 {
        font-size: 40px;
    }

    /* five */
    .sliders i {
        font-size: 15px;
    }
}

@media (min-width:576px) and (max-width:767px) {

    /* first */
    #AboutUs {
        height: 350px;
    }

    /* second */
    .welcome {
        padding: 21px 20px 0px 20px;
    }

    /* four */
    .btn-danger {
        margin-bottom: 5px;
    }
}

@media (max-width:575px) {

    /* first */
    #AboutUs {
        height: 359px;
    }

    .author_btn,
    .btn_danger {
        width: 131px;
        font-size: 15px;
    }

    /* second */
    .welcome {
        padding: 23px 20px 0px 20px;
    }
    

}