* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

/* ==================== 
      Navbar CSS
 =====================*/

.Navbar {
  margin: auto;
  background-color: #191c24;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.364);
  z-index: 1;
}

.icon i {
  color: white;
  font-size: 18px;
  position: sti;
}

nav {
  display: flex;
  margin: auto;
}

nav input {
  border: none;
}

.search {
  width: 60%;
}

.icons_set {
  gap: 30px;
  margin-left: 30px;
}

/* ==================== 
      AsideBar CSS
=====================*/

aside {
  height: 100vh;
  position: fixed;
}

.aside {
  background-color: #191c24;

}

aside i {
  padding: 7px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(108 114 147 / 20%);
  border-radius: 50%;
  color: aliceblue;
}

aside ul {
  list-style: none;
  cursor: pointer;
}

aside a {
  color: #6c7293;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

/* ==================== 
      Main CSS
 =====================*/

.main {
  width: auto;
  height: 100vh;
  color: white;
  overflow-y: scroll;
  background-color: #191c24;
  background-attachment: fixed;
}

.main input {
  background-color: #191c24;
}

.main input::placeholder {
  color: #6c7293;
}

.Routes {
  margin-top: 10vh;
}


/* ==================== 
      Foarm CSS
 =====================*/
#formBasicBookName::placeholder,
#formBasicBookAuthor::placeholder,
#formBasicBookYear::placeholder,
#formBasicBookISBIN::placeholder,
#formBasicBookLanguage::placeholder,
#formBasicBookDescription::placeholder,
#formFile {
  color: #6c7293;
}

.form Button {
  background-color: #67bc45;
  border: none;
}

/* ==================== 
      Book CSS
 =====================*/

.book-card {
  width: 550px;
}
.book-card img {
  height: 270px;
}

.mas {
  height: 300px;
}
.card button{
  width: 70px;
  padding: 2px;
  background-color: rgb(187, 150, 65);
  color: black;
  font-weight: 500;
}
.summary{
  width: auto;
  height: 50px;
  overflow: hidden;
} 