* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lora', sans-serif;
}

#event {
  width: 100%;
  height: 500px;
  background: url('../images/reading-a-book.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hue;
  background-color: rgba(0, 0, 0, 0.461);
}

.send_bar {
  width: 310px;
  height: 250px;
  border-radius: 20px;
  padding: 39px 35px 32px 42px;
  border-radius: 30px 30px 30px 30px;
  background-color: #FAF9F5;
}

.fa-paper-plane,
.fa-building,
.fa-envelope,
.bi-telephone {
  color: #F13B3A;
  padding-bottom: 10px;
}

.send_bar h4 {
  padding-bottom: 8px;
  font-size: 26px;
  color: #1E1E1E;
}

.send_bar p {
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  color: #7A7A7A;
}

/*third section */
.maping {
 padding:50px  30px;
}

.maping h6 {
  font-size: 14px;
  color: #F13B3A;
  font-family: 'Hind';
}

.maping h2 {
  font-size: 40px;
  color: #1E1E1E;
  padding-bottom: 10px;
}
#submit{
  padding: 10px;
  background-color: #F13B3A;
}