@media (min-width: 1200px) and (max-width: 1440px) {
  /* Dashboard Page  */
  #AdminNav {
    width: 86.5%;
  }

  .Boxs {
    width: 286px;
  }

  .transection {
    width: 398px;
  }

  .nav-pills .nav-link {
    display: flex;
    padding: 7px 6px;
  }
  .transection {
    width: auto;
  }

  /* book */
  .book-card {
    width: 479px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #AdminNav {
    width: 84%;
  }

  .Boxs {
    width: 196px;
  }

  .transection {
    width: auto;
  }

  .Boxs p {
    font-size: 14px;
  }

  .obtain {
    display: flex;
  }
  aside button span {
    display: flex;
  }

  /* book */
  .book-card {
    width: 391px;
  }

  .book-card img {
    height: 223px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* dashboard */
  #AdminNav {
    width: 77.5%;
  }
  .Boxs {
    width: 298px;
  }

  .obtain {
    display: flex;
  }
  aside button span {
    display: flex;
  }

  .new_client {
    display: block;
  }

  .line-chart {
    width: 614px;
  }

  .transection {
    width: 614px;
  }

  /* book */
  .book-card {
    width: 611px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* dashboard */
  .new-col {
    display: flex;
    gap: 50px;
  }
  .obtain {
    display: flex;
  }

  .new_client {
    display: block;
  }

  .line-chart {
    width: 397px;
  }

  .transection {
    width: 397px;
  }

  aside button span {
    display: flex;
  }

  /* book */
  .book-card {
    width: 439px;
  }
}

@media (max-width: 575px) {
  /* Dashboard */
  #AdminNav {
    width: 72.5%;
  }
  .sidebar-close {
    display: none;
  }
  .Boxs {
    width: 332px;
    margin: auto;
  }
  aside button span {
    display: flex;
  }
  .line-chart {
    margin: auto;
    width: 334px;
  }

  .transection {
    margin: auto;
    width: 334px;
  }


}
