* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    background-color: #1c2437;
    color: white;
    height: 100vh;
    width: 100%;
    /* position: fixed; */
}

ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: white;
}
.profile img{
    width:180px ;
    height: auto;
}

aside p{
    color:grey
}
.menus li{
    line-height: 45px;
    gap: 20px;
    word-spacing: 10px;
}


/* Aside.css */

.sidebar-open {
    width: 250px; /* Width of the sidebar when open */
    transition: width 0.3s ease;
}

.sidebar-closed {
    width: 80px; /* Width of the sidebar when closed */
    transition: width 0.3s ease;
    overflow: hidden; /* Hide overflow content when collapsed */
}

.title {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h4 {
    margin: 15px;
}

.toggle-button {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 100%;
    max-width: 180px; /* Adjust as needed */
}

.menus ul {
    list-style: none;
    padding: 0 ;
}

.menus li {
    margin: 10px 0;
}

.menus a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menus i {
    font-size: 1.5em;
    margin-right: 10px;
}

.sidebar-closed .menus {
    /* display: flex; */
    justify-content: center;
}

.sidebar-closed .title h4,
.sidebar-closed .profile,
.sidebar-closed .menus p {
    display: none; /* Hide these elements when the sidebar is closed */
}
