* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  height: auto;
  background: url("../images/footer_bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #28282891;
  background-blend-mode: hue;
  color: white;
}

.button {
  color: white;
  background-color: #f13b3a;
  height: 40px;
  border-radius: 20px;
}
footer .mail {
  width: 500px;
  border-radius: 20px;
  height: 40px;
}
footer ul {
  margin-top: 20px;
}
footer span {
  text-decoration: none;
  color: white;
  line-height: 40px;
}
footer a:hover {
  color: #f13b3a;
}

.icon li i {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(243, 227, 207);
  color: black;
}
