* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lora', sans-serif;
}

#event {
  width: 100%;
  height: 500px;
  background: url('../images/young-student.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hue;
  background-color: rgba(0, 0, 0, 0.502);
}

.upComing {
  padding-top: 260px;
  font-family: 'Hind',serif;
}

#event h4 {
  font-size: 16px;
}


#event h2 {
  font-size: 48px;
  padding-top: 10px;
}

.Festival h2 {
  color: #1E1E1E;
  font-size: 48px;
}

.Festival p {
  font-size: 16px;
  font-family: 'Hind', sans-serif;
}

/* second  */
.addCart {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff82;
}

.addCart:hover {
  background-color: #FFFFFF;
  color: red;
}

.books {
  width: 266px;
  height: 230px;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgba(0, 0, 0, 0.428);
  padding-top: 90px;
}

.six_book {
  background: url('../images/young-student.jpg');
  background-position: center;
  background-size: cover;
}

.one_book {
  background: url('../images/getting-knowledge.jpg');
  background-position: center;
  background-size: cover;

}

.second_book {
  background: url('../images/young-woman_1.jpg');
  background-position: center;
  background-size: cover;
}

.third_book {
  background: url('../images/hand-holding.jpg');
  background-position: center;
  background-size: cover;
}

.four_book {
  background: url('../images/group-of-college.jpg');
  background-position: center;
  background-size: cover;
}

.five_book {
  background: url('../images/woman-reading.jpg');
  background-position: center;
  background-size: cover;
}

.books:hover {
  transition: all linear 0.7s;
  background-color: rgba(0, 0, 0, 0.572);
}

.reading {
  width: 650px;
  background-color: #f9fafa;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dolor {
  padding: 12px;
}

.dolor li {
  list-style: none;
  color: #7A7A7A;
}

.dolor h2 {
  font-size: 26px;
}

.dolor p {
  font-size: 16px;
  color: #1E1E1E;
}

/* third */
.question h6 {
  color: red;
}

.question h2 {
  font-size: 42px;
}

.accordion-button {
  font-size: 16px;
  font-weight: 600;
}