@media (min-width: 1200px) and (max-width: 1440px) {
  /* first */
  .upComing {
    padding-top: 247px;
  }

  /* second */
  .reading {
    width: 559px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .reading {
    width: 470px;
  }

  .dolor p {
    font-size: 15px;
  }

  .dolor h2 {
    font-size: 24px;
  }

  .question p {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reading {
    margin: auto;
  }

  .question h2 {
    font-size: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #event h2 {
    font-size: 35px;
  }

  .Festival h2 {
    font-size: 40px;
  }

  .Festival p {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  #event h2 {
    font-size: 31px;
  }

  .dolor h2 {
    font-size: 19px;
  }

  .dolor p {
    font-size: 13px;
  }

  .dolor li {
    font-size: 13px;
  }

  .question h2 {
    font-size: 33px;
  }

  .question p {
    font-size: 13px;
  }
}
