* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lora', sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*First section */
.main-section {
  width: 100%;
  height: 100vh;
  background-image: url('../images/main_home.jpg');
  background-color: rgba(0, 0, 0, 0.399);
  background-blend-mode: hue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.description p {
  font-size: 13px;
}

.main_description {
  padding: 150px 0 0 290px;
}

.description h1 {
  font-size: 70px;
  line-height: 68px;
}

#pading_id {
  padding: 90px 0px;
}

.delivery {
  padding: 20px;
  background-color: #FAF9F5;
  margin: 10px 0;
  border-radius: 19px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon_bar img {
  width: 45px;
  height: 45px;
}

.icon_bar {
  font-size: 24px;
  color: #000;
  margin-right: 10px;
}

.info-section li {
  list-style: none;
  font-size: 14px;
}

.go-to-button {
  margin-top: 20px;
  text-transform: uppercase;
  display: inline-flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  align-items: center;
  border-radius: 8px;
}

.go-to-button i {
  margin-right: 8px;
}

/* second section */
.Lorem {
  width: 400px;
  height: 250px;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  background-color: #0000006d;
  border-radius: 20px;
}

.first_img {
  background: url('../images/main_home.jpg');
  background-size: cover;
  background-position: center;
}

.second_img {
  background: url('../images/bg-1.jpg');
  background-size: cover;
  background-position: center;
}

.third_img {
  background: url('../images/bg-2.jpg');
  background-size: cover;
  background-position: center;
}

.new_release {
  height: 250px;
  border-radius: 20px;
  background-color: #0000009e;
  padding: 50px 0 0 60px;
}

.new_release:hover {
  transition: all linear 0.5s;
  background-color: #0000004e;
}

.new_release h2 {
  font-family: "Lora";
  font-size: 36px;
}

.new_release p {
  font-size: 16px;
  font-weight: 500;
}

.shop_btn {
  width: 100px;
  height: 42px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 18px;
}

.shop_btn:hover {
  color: #F13B3A;
  background: #FFFFFF;
}

/* section three book api */
.next h3 {
  font-size: 45px;
  font-family: 'lora', sans-serif;
}

.next span {
  font-size: 19px;
}

.card {
  height: auto;
  box-shadow: none;
}

.card_sell_img {
  width: 306px;
  height: 404px;
  padding: 6px;
  aspect-ratio: 3/2;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  object-fit: contain;
}

.add_to_cart {
  width: 118px;
  height: 43px;
  color: red;
  border-radius: 20px;
  background: transparent;
  border: 2px solid red;
  margin: auto;
}

.add_to_cart:hover {
  border: none;
  background-color: black;
}


/* section three */
.flash_sale {
  width: 100%;
  height: 300px;
  background: url('../images/group-of-books.jpg') center;
  background-size: cover;
  background-blend-mode: hue;
  background-color: #00000071;
  background-repeat: no-repeat;
  padding: 50px 250px 50px 300px;
  border-radius: 20px;
}

.flash_sale h2 {
  font-family: "Lora";
  font-weight: 500;
  font-size: 48px;
}

.flash_sale:hover {
  transition: all ease-in-out 0.7s;
  background-color: #00000097;
}

/* four section */
.custom-container {
  background: #FAF9F5;
  border-radius: 15px;
}

.custom-container .row {
  align-items: center;
}

.about_author h6 {
  font-size: 17px;
}

.about_author span {
  font-size: 16px;
}

.about_author p {
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Lora', serif;
  color: #7e8486;
}

.about_author h2 {
  padding-top: 10px;
  font-size: 48px;
  font-family: 'Lora', serif;
}

.author_btn {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #F13B3A;
  color: white;
  font-size: 17px;
}

.custom-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* five section */

.content {
  padding-left: 1rem;
}

.content h2 {
  font-size: 48px;
  font-family: 'Lora';
  font-weight: 600;
  margin-bottom: 5px;
}

.content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.content i {
  font-size: 25px;
  margin-right: 5px;
}

.content span {
  font-size: 19px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.content p {
  font-size: 15px;
}

/* new section */
#back_images {
  width: auto;
  height: auto;
  padding: 5px;
  background: url('../images/BG3.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-color: #00000016;
  background-blend-mode: hue;
  background-size: cover;
}

.lectus {
  padding: 120px 0;
}

.lectus h6 {
  font-size: 14px;
  color: #F13B3A;
  font-family: 'Hind', sans-serif;
}

.lectus h3 {
  font-size: 48px;
  font-family: 'lora', sans-serif;
}

.lectus h5 {
  font-size: 18px;
  font-family: 'lora', sans-serif;
  color: #7A7A7A;
}

.lectus p {
  font-size: 16px;
  color: #000;
  font-family: 'Hind', sans-serif;
}

.lectus span {
  font-size: 1.2rem;
  font-family: 'lora';
}

/* seven section */
#read_book {
  border-radius: 17px;
}

.btn-danger {
  width: auto;
  height: 40px;
  border: none;
  font-size: 17px;
  font-family: sans-serif;
  border-radius: 20px;
  background-color: #F13B3A;
  color: white;
}

#comment {
  width: 100%;
  max-width: 250px;
  max-height: 180px;
  border-radius: 16px;
}

.Bookstagram h3 {
  font-weight: 600;
  font-size: 17px;
  font-family: 'lora' sans-serif;
}

.Bookstagram span {
  font-size: 14px;
  font-family: 'Hind', sans-serif;
}

.Bookstagram p {
  color: #777;
  font-size: 14px;
  font-family: 'Hind', sans-serif;
}


/* eight section */
#review_img {
  border-radius: 17px;
}

.card-body {
  flex: 0 0 auto;
  padding: 1rem 1rem;
}

.sliders {
  display: flex;
  gap: 20px;
}
.one{
  width: 400px;
  /* background-color: red; */
}
.one .imgs img{
width: 200px;
height: 72px;
border-radius: 50%;
}
